<div class="container mt-2" *ngIf="job$ | async as job">

    <span class="back-icon" (click)="goBack()">
        <i class="icon">&#8962;</i>
        <span class="text">Back</span>
    </span>

    <div class="d-flex align-items-center mb-3 mt-2">
        <img [src]="job.companyLogo" [alt]="job.companyName" class="company-logo mr-3" />
        <div>
            <h3>{{ job.companyName }} - {{ job.title }}</h3>
            <span class="badge badge-primary mr-2" *ngFor="let type of job.types; index as i"
                [id]="'type-' + i">{{ type }}</span>
            <span class="badge badge-primary mr-2" *ngFor="let industry of job.industries; index as i"
                [id]="'industry-' + i" [innerHTML]="industry"></span>
        </div>
    </div>
    <div class="mt-3">
        <p><strong>Publish Date:</strong> {{ job.publishDate | date:'MM/dd/yy' }}</p>
        <p><strong>Location:</strong> {{ job.location }}</p>
        <p><strong>Reference:</strong> {{ job.reference }}</p>
        <p><strong>Description:</strong></p>
        <div *ngIf="sanitizedDescription" [innerHTML]="sanitizedDescription"></div>
    </div>
</div>