<div class="container">
    <div class="row">
        <ng-container *ngFor="let job of favoriteJobs">
            <div class="col-12">
                <app-job-item [job]="job" [isFavoriteList]="true" [isFavorited]="isFavorited(job)"
                    (toggleFavorite)="toggleFavorite(job)">
                </app-job-item>
            </div>
        </ng-container>
        <div *ngIf="favoriteJobs.length === 0" class="mt-3 d-flex justify-content-center align-items-center">
            <p class="text-center">No favorite selected.</p>
        </div>
    </div>
</div>